<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Characters</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="homepage">
  <h3>Talisman Characters</h3>
  <ion-searchbar (ionInput)="getSearch($event)" (ionCancel)="resetPage($event)" [debounce]="500" placeholder="Search..."></ion-searchbar>
  <br/>

  <div *ngFor="let item of items">
  <div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand charIcon" [ngStyle]="{
                                                                        'background-image' : 'url(' + item.character.getImgPath() + ')',
                                                                        'background-size' : 'cover',
                                                                        'background-repeat' : 'no-repeat'
                                                                      }">
      <h2 class="mdl-card__title-text card-title">{{item.character.getName()}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Strength: {{ item.character.getStr()}} <br/>

      Life : {{ item.character.getLife() }} <br/>

      Fate: {{ item.character.getFate()}} <br/>

      Craft: {{ item.character.getCraft()}} <br/>

      Alignment: {{ item.character.getAlignment() }}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        More Info
      </a>
    </div>
  </div>
<br/><br/>
  </div>
 <!--
  <div *ngFor="let item of items" (click)="itemTapped($event, item)">
      <div class="nav-card-square mdl-card mdl-shadow--2dp">
      <div class="mdl-card--expand" style="width:100%;">
        <div class="cardContent">
          <div class="mdl-cell mdl-cell--6-col charDetails">
            <img class="charIcon" src={{item.character.getImgPath()}}/>
          </div>
          <div class="mdl-cell mdl-cell--6-col charDetails">
            Strength: {{ item.character.getStr()}} <br/>

            Fate: {{ item.character.getFate()}} <br/>

            Craft: {{ item.character.getCraft()}}
          </div>
        </div> end of card content
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <p class="card-title">{{item.character.getName()}}</p>
      </div>
     </div>
   <br/><br/>
 </div>-->
</ion-content>
